{%  extends 'Quiz/main.html' %}
{% load static %}
{% block content %}


<div class="col-md-7">
    <h5>Questions</h5>
    
    <hr>
    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>Question</th>
                <th>Category</th>
                <th>Answer</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            {% for q in questions %}
                <tr>
                    <td>{{q.question}}</td>
                    <td>{{q.category}}</td>
                    <td><a class="btn btn-primary  btn-sm btn-danger" href="{% url 'add_answers' q.id %}">Update / Add Answers</a></td>
                    <td><a class="btn btn-primary  btn-sm btn-dark" href="{% url 'update_question' q.id %}">Update</a></td>
                    <td><a class="btn btn-primary  btn-sm btn-danger" href="{% url 'delete_question' q.id %}">Remove</a></td>

                </tr>
            {% endfor %}
            
        </table>
    </div>
</div>

{% endblock %}